@font-face {
  font-family: "Inter";
  src: url("/public/fonts/Inter-VariableFont_opsz\,wght.ttf");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.back-card {
  background-color: "pink";
}
